/* .banner{
    background-image: url('/assets/bg-img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* label{
    color: white;
    font-weight: 600;
} */